version	= 0.0
date	= _date

# DailyReport
---
:Form {
	 -> ## Expenses <-
    item
    :TextInput			!ref expense_name
    cost
    :TextInput			!ref expense_cost
	
    [submit](_form_submit)
}

export {
    version
	date
	expense_name
	expense_cost
}