<link rel="stylesheet" href="bootstrap.css">

<html style="display: flex;justify-content: center;align-item: flex-start;">
  <body style="display: flex;justify-content: center;align-item: flex-start;flex-direction:column;">
	<div>
	  <h1>DailyReport</h1><br>
	</div>
	<hr>
	<div>
	  <form>
		<div style="text-align:center;">
		  <h2>Expenses</h2>
		</div>
		item<br>
		<input type="text"><br>
		cost<br>
		<input type="text"><br><br>
		<input type="submit" value="submit">
	  </form>
	</div>
  </body>
</html>
