version: 0.0

date: #date

$form {
    $header { Expenses }
    $label { item }
    expense_name: $text_input
    $label { cost }
    expense_cost: $text_input
    $submit_button { submit }
}





























{
	"version":		"0.0",
	"date":			"04/13/2022",
	"expense_name": "food",
	"expense_cost": "10"
}